package ${package.Mapper};

import ${package.Entity}.${entity};
import com.kingdowin.xiugr.common.dao.base.BaseMapper;

/**
 * Mapper接口
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName} extends BaseMapper<${entity}> {

}
